@media only screen and (min-width: 1024px) and (max-width: 1366px) {
	.navbar-brand img { width: 90px !important; }
	.nav-link { font-size: 10px; }
	
}
@media only screen and (max-width: 767px) {
	body { padding-top: 4.5rem;  padding-bottom: 0; }
   .footer { font-size: 13px; }
	.home-video { height: 200px !important; }
	.navbar-nav .nav-link { color: #000; }
	.nav-link span { width: 45px; display: inline-block; }
	.nav-link img { vertical-align: bottom; }
	.sidebar .nav-item { line-height: 31px; }
	.bg-dark .navbar-nav .nav-link { border-bottom: 1px solid #dadada;	}
	/*.mobile-add { position: fixed;  bottom: 100px; right: 10px; z-index: 1; }*/
	.mobile-add { position: fixed;  bottom: 30px; left: 0px; z-index: 1;opacity: 1;}
	#editprofileform .form-btn.mt-4 { margin-top: 0 !important;  }
	#editprofileform .text-secondary { padding-bottom: 20px; display: block; }
	.btn.btn-green { font-size: 14px; }
	.footer{
        padding: 32px 24px;
        height: auto;
        position: static;
    }
    .footer .footer-links{
        flex-direction: column;
    }
	.navbar-nav .nav-item {
		margin: 0;
	}
	.navbar-nav .nav-link {
		border-bottom: 1px solid #d6d6d6;
	}
	.fixed-top { background: #fff; }
	.acc-title { width: 80%; }
	.btn.btn-secondary.dropdown-toggle { font-size: 14px; }
	.text-right .dropdown-menu.show { left: -120px; }
	.order-col-2 {
		-ms-flex-order: 2;
		order: 2;
	  }
	  .order-col-1 {
		-ms-flex-order: 1;
		order: 1;
	  }
	  .contact-info { margin-top: 20px;}
	  .home-main-title { margin: 20px 0; }
	  .block-list { margin-bottom: 20px; height: auto; }
	  .right-search {margin-bottom: 50px !important;}
	  .right-block h2 { font-size: 22px; margin-bottom: 15px; }
	  .right-block p { font-size: 28px;  max-width: 100%; }
	  .video-part p { font-size: 18px; }
	  .home-main-title { font-size: 22px; }
	  .block-list-title { font-size: 22px; }
	  .block-list p { font-size: 18px; }
	  .our-story .page-title h1 {font-size: 16px !important; }
	  .our-story .post-column h3 { font-size: 22px; }
	  .our-story .post-column .post-description .post-date { font-size: 14px; }
	  .our-story .post-column .post-description p { font-size: 16px; }
	  .our-story .post-detail .blog-detail p { font-size: 16px; }
	
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
	.navbar-nav .nav-link { color: #000; }
	.nav-link span { width: 45px; display: inline-block; }
	.nav-link img { vertical-align: bottom; }
	.sidebar .nav-item { line-height: 31px; }
	/*.mobile-add { position: fixed;  bottom: 100px; right: 10px; z-index: 1; }*/
	.mobile-add { position: fixed;  bottom: 30px; left: 0px; z-index: 1;opacity: 1;}
	.navbar-nav .nav-item {
		margin: 0;
	}
	.navbar-nav .nav-link {
		border-bottom: 1px solid #d6d6d6;
	}
	.fixed-top { background: #fff; }
	.right-block p { font-size: 25px;
		line-height: 1.35; }
}

